body {
    background-color: rgb(245,245,245);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    height: 100;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: #f2d9d9;
}

#taskList {
    position: relative;
    width: 550px;
    margin-left: -275px;
    left: 50%;
    box-shadow: 7px 7px 15px lightgrey;
}

input {
    width: 100%;
    height: 65px;
    font-size: 30px;
    box-shadow: 100px;
    border: 0px;
    text-indent: 40px;
}

input:focus {
    border: none;
    outline: 0px;
}

::-webkit-input-placeholder {
    font-size: 30px;
    font-style: italic;
    color: #e4e4d8;
    font-weight: 80;
    text-indent: 40px;
}

.task {
    width: 470px;
    height: 25px;
    background-color: white;
    font-size: 30px;
    padding: 20px 40px;
    margin: 0px;
    border-style: solid none;
    border-width: 1px;
    border-color: darkgrey;
    border-collapse: collapse;
    overflow: hidden;
}

.active {
    color: black;
    text-decoration: none;

}

.completed {
    color: darkgrey;
    text-decoration: line-through;

}

#counter, #menu, #elemClearCompleted {
    /*width: 30%;*/
    display: inline;
    padding: 0px;
    margin: 15px 0px;
    
}

#counter {
    float: left;
    width: 30%;
    padding: 0px 0px 0px 10px;
}

#elemClearCompleted {
    float: right;
    text-align: right;
    padding: 0px 10px 0px 0px;
}

li {
    display: inline-block;
    padding: 10px 5px;
    margin: 5px 0px;
    
}

#footer {
    font-size: 15px;
    background-color: white;
    border-top: 1px solid darkgrey;
    
}

.menuCurrent {
    border: 1px solid pink;
    padding: 9px 4px;
    border-radius: 3px;
}

li:hover {
    border: 1px solid rgb(253, 216, 223);
    border-radius: 3px;
    padding: 9px 4px;
    cursor: pointer;
}

#elemClearCompleted:hover {
    cursor: pointer;
    text-decoration: underline;
}

.chkBxContainer {
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border:2px solid #d2f0d2;
    border-radius: 15px;
    margin-left: 3px;
    background-color: transparent;
    color: transparent;
}

.chkBxInput {
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.chkBxContainer chkBxInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.chkBxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}

.chkBxInput:checked:after {
    content: '\2714';
    position: absolute;
    width: 30px;
    left: -37px;
    top: -5px;
    color: grey;
}

.deleteButton {
    content: '\2716';
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: red;
    margin-right: 10px;
    border-color: transparent;
    font-size: 28px;
}

.invisible {
    display: none;
}

#completeAll {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    color: transparent;
}

#completeAll:after {
    content: '\2714';
    position: absolute;
    width: 30px;
    left: -37px;
    top: 10px;
    color: lightgrey;
}

#completeAll:checked:after {
    content: '\2714';
    position: absolute;
    width: 30px;
    left: -37px;
    top: 10px;
    color: grey;
}

#elemAddTaskList {
    display: block;
    width: 100%;
    text-align: center;
}